<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-address-item chkcutom-xpec-sm" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
    <!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><!-- /ko -->
    <!-- ko text: address().lastname --><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko --><br/>
    <!-- ko text: address().street --><!-- /ko --><br/>
    <!-- ko text: address().region --><!-- /ko --><br/>
    <!-- ko foreach: { data: address().customAttributes, as: 'element' } -->
        <!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
            <!-- ko if: element[attribute].value != null -->
                 <!-- ko if: element[attribute].attribute_code != "comuna" -->
                    <!-- ko if: element[attribute].attribute_code != "rut" -->
                        <!-- ko if: element[attribute].attribute_code != "fecha_de_nacimiento" -->
                            <!-- ko if: element[attribute].attribute_code != "sexo" -->
                                <!-- ko if: element[attribute].attribute_code != "celular" -->
                                    <!-- ko if: element[attribute].attribute_code != "tipo_direccion" -->
                                        <!-- ko if: element[attribute].attribute_code != "sucursal_chilexpress" -->
                                            <!-- ko text: element[attribute].value --><!-- /ko --><br/>
                                        <!-- /ko -->    
                                    <!-- /ko -->
                                <!-- /ko -->
                            <!-- /ko -->
                        <!-- /ko -->
                    <!-- /ko -->
                 <!-- /ko -->
            <!-- /ko -->
         <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: (address().isEditable()) -->
    <button type="button"
            class="action edit-address-link"
            data-bind="click: editAddress, visible: address().isEditable()">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
    <!-- /ko -->
    <button type="button" data-bind="click: selectAddress" class="action action-select-shipping-item">
        <span data-bind="i18n: 'Ship Here'"></span>
    </button>
</div>